.MuiToolbar-regular {
  min-height: 40px !important;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .MuiBox-root { 
    padding: 0 !important;
  }
  .MuiTab-root {
    flex-shrink: 1 !important;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.account-button {
  margin: 0.7rem;
}

.tabpanel {
  width: inherit;
}
